
PlooAPI/.idea/.idea.PlooAPI/.idea/encodings.xml

*.xml

PlooAPI/PlooAPI/obj/rider.project.restore.info

PlooAPI/PlooAPI/obj/project.packagespec.json

PlooAPI/PlooAPI/obj/project.nuget.cache

PlooAPI/PlooAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.AssemblyInfo.cs

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.AssemblyInfoInputs.cache

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.assets.cache

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.csproj.AssemblyReference.cache

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.GeneratedMSBuildEditorConfig.editorconfig

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.GlobalUsings.g.cs

PlooAPI/PlooAPI/obj/PlooAPI.csproj.nuget.dgspec.json

PlooAPI/PlooAPI/obj/PlooAPI.csproj.nuget.g.props

PlooAPI/PlooAPI/obj/PlooAPI.csproj.nuget.g.targets

PlooAPI/PlooAPI/obj/project.assets.json

*.dll

PlooAPI/PlooAPI/bin/Debug/net8.0/PlooAPI.deps.json

PlooAPI/PlooAPI/bin/Debug/net8.0/PlooAPI.exe

PlooAPI/PlooAPI/bin/Debug/net8.0/PlooAPI.pdb

PlooAPI/PlooAPI/bin/Debug/net8.0/PlooAPI.runtimeconfig.json

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.csproj.CopyComplete

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.csproj.CoreCompileInputs.cache

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.csproj.FileListAbsolute.txt

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.genruntimeconfig.cache

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.MvcApplicationPartsAssemblyInfo.cache

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.MvcApplicationPartsAssemblyInfo.cs

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.pdb

PlooAPI/PlooAPI/obj/Debug/net8.0/PlooAPI.sourcelink.json

PlooAPI/PlooAPI/obj/Debug/net8.0/staticwebassets.build.json

PlooAPI/PlooAPI/obj/Debug/net8.0/staticwebassets/msbuild.build.PlooAPI.props

PlooAPI/PlooAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.PlooAPI.props

PlooAPI/PlooAPI/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.PlooAPI.props

PlooAPI/PlooAPI/obj/PlooAPI.csproj.EntityFrameworkCore.targets

PlooAPI/PlooAPI/obj/Debug/net8.0/apphost.exe

PlooAPI/.vs/PlooAPI/FileContentIndex/654ea2b9-5820-40ef-8a3c-088060c9d675.vsidx

PlooAPI/.vs/PlooAPI/FileContentIndex/read.lock

PlooAPI/.vs/PlooAPI/v17/.futdcache.v2

PlooAPI/.vs/PlooAPI/v17/.suo

PlooAPI/.vs/ProjectEvaluation/plooapi.metadata.v6.1

PlooAPI/.vs/ProjectEvaluation/plooapi.projects.v6.1

PlooAPI/PlooAPI/obj/rider.project.model.nuget.info

PlooAPI/PlooAPI/PlooAPI.csproj.user
