<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/6bfbd345-eb45-4b3f-a48d-5099de7fbec4/resourceGroups/PlooTestePratico/providers/Microsoft.Web/sites/plooUsersDb</ResourceId>
    <ResourceGroup>PlooTestePratico</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ploousersdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>72879b55-a8cf-4ad6-bb79-08dc7ae749db</ProjectGuid>
    <PublishUrl>https://ploousersdb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$plooUsersDb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>